name: Buscar Trabajos y Deploy Dashboard

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar repo
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar script y generar dashboard
        run: python main.py

      - name: Commit y push de cambios
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add docs/index.html
          git add historial.csv
          git commit -m "Actualizar dashboard y historial" || echo "No hay cambios"
          git push
