name: Buscar Trabajos

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar repo
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar script
        run: python main.py
        
      - name: Subir Excel
        uses: actions/upload-artifact@v4
        with:
          name: trabajos-encontrados
          path: trabajos_encontrados.xlsx
